# clang-format configuration for Linux kernel code
# Based on Linux kernel coding style
---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
SortIncludes: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
ContinuationIndentWidth: 8
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: false
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: false
PointerAlignment: Right
